body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
}



/* Margin */

.card{
    margin-top: 3%;
}

.marginTop{
    margin-top: 10%;
}


/* Navbar */
.custom-navbar {
    background-color: #2a2b33;
}

.nav-link{
    font-size: 1.2rem;
}

.myButton{
    margin: 5% 3% 5% 0;
}


/* Services */

#services{
    padding: 3% 4%;
    margin-top: 30px;
    color: black;
}

#services > h1 {
    font-weight: bold;
}

#footer{
    background-color: #2a2b33;
    bottom:0;
    width:100%;
    color:#959fa3;
}

@media screen and (max-width: 1618px) {
    /* First Page */
    .firstPageText{
        font-family: 'Ubuntu', sans-serif;
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 1305px) {

    /* First Page */
    .firstPageText{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1090px) {

    /* First Page */
    .firstPageText{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 990px) {

    /* First Page */
    .firstPageText{
        font-size: 2.5rem;
    }

    .mobMargin{
        margin-top: 10%;
    }
}